# --- Core ML & Transformer ---
torch
transformers
datasets
accelerate
huggingface-hub

# --- Audio Processing ---
librosa
scipy
soundfile
phonemizer
torchcodec

# --- API & Deployment ---
fastapi
uvicorn
python-multipart

# --- Utilities ---
numpy
tensorboard
onnx
onnxruntime
optimum[exporters]